/*  ================================ 
    Webtechniken lernen 2: CSS-Grundlagen 
    Stylesheet für die Übungswebsite 
    
    Abschnitte im Stylesheet: 
    1. Basiseinstellungen 
    2. Layoutbereiche gestalten (Header)  
    3. Navigation (und Footer)  
    4. Inhalte gestalten  
    5. Formulare gestalten  
*/



/**
  * 1. Basiseinstellungen 
  */ 

/* Seiteninterne Links sollen sanft gleiten  */
html {
    scroll-behavior: smooth;
}

/* Einrückung von figure und blockquote entfernen */
figure, blockquote {
    margin: 0; 
}



/** 
  * 2. Layoutbereiche gestalten (Header) 
  */ 

/* Abstand zwischen Logo und Slogan */
.site-header h1 {
    margin-bottom: 0; 
}
.site-header p {
    margin-top: 0; 
}


/** 
  * 3. Navigation (und Footer)  
  */
.site-nav, 
.site-footer {
    background-color: black;
    color: white; 
    padding: 0.5rem; 
    margin: 1rem 0; 
}
.site-nav ul {
    padding: 0; 
    margin: 0; 
}
.site-nav li {
    display: inline; 
    margin-right: 0.5rem; 
}
.site-nav a,
.site-footer a {
    color: white; 
    text-decoration: none;
}

/* Aktuellen Menüpunkt hervorheben */
.site-nav a.current {
    text-decoration: underline;
    /* border-bottom: 1px solid white;  */
}

/* Link "Nach oben" rechts ausrichten */
.site-footer {
    text-align: right;
}



/**
  * 4. Inhalte gestalten 
  */ 

/* Startseite - Abschnitt mit Infoboxen */
.infoboxen {
    background-color: whitesmoke;
    padding: 1rem; 
    margin-bottom: 1rem; 
}
.infobox {
    text-align: center;
    background-color: white;
    padding: 1rem; 
    margin: 1rem; 
}

/* Startseite - Zitate von Kunden */
.kundenstimme {
    background-color: whitesmoke;
    padding: 1rem; 
    border-left: 5px solid steelblue; 
    margin-bottom: 1rem; 
}


/* Seite News - grundlegende Gestaltung */
.beitragsliste h3, 
.linklisten h3 {
    padding-top: 0.5rem;
    border-top: 1px solid whitesmoke;
    margin-bottom: 0.25rem;
  }
.beitragsliste article, 
.linklisten section { 
    margin-bottom: 3rem; 
} 
.beitragsinfo { color: dimgrey; }


/* Seite Über uns - Liste der Mitglieder */
.mitglieder {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.mitglied {
    background-color: whitesmoke;
    padding: 0.5rem; 
    margin-bottom: 1rem; 
  }



/** 
  * 5. Formulare gestalten 
  */ 

/* Seite Kontakt - Kontaktdaten und Kontaktformular */
.kontaktdaten address {
    font-style: normal;
}

.kontaktformular label { 
    display: block; 
    cursor: pointer;
}
.kontaktformular  div { 
    margin-bottom: 1rem; 
}
.kontaktformular button {
    background-color: steelblue;
    color: white; 
    padding: 0.5rem;
    border: none; 
    cursor: pointer;
}


/* eof */ 