.site-header {
    background: white; 
    border-top: 1px solid dimgrey; 
    color: black; 
    display: block; 
    font-family: sans-serif; 
    font-size: 1.25rem; 
    margin-bottom: 1rem; 
    padding-top: 1rem; 
}